.flex__item--4-1 {
  padding: 15px 0;
  border-top: 1px solid #d7d7d7;
}

.flex__item--4-1 .flex-article__multimedia {
  width: calc(100% - 321px);
  width: -webkit-calc(100% - 321px);
}

.flex__item--4-1 .flex-article__multimedia img {
  max-height: 185px;
}

.flex__item--4-1 .flex-article__multimedia+.flex-article__container {
  height: 191px;
  float: right;
  width: 301px;
}

.flex__item--4-1 .foto-cintillo {
  width: calc(100% - 321px);
  width: -webkit-calc(100% - 321px);
  overflow: hidden;
}

.flex__item--4-1 .flex-article__heading {
  font-size: 28px;
  line-height: 31px;
  letter-spacing: -0.56px;
}

.flex__item--4-1 .info-bar {
  width: 301px;
  bottom: 0;
}

.flex__item--4-2,
.flex__item--4-3,
.flex__item--4-4 {
  padding: 15px 0;
}

.flex__item--4-2 .flex-article__multimedia,
.flex__item--4-3 .flex-article__multimedia,
.flex__item--4-4 .flex-article__multimedia {
  width: calc(100% - 468px);
  width: -webkit-calc(100% - 468px);
}

.flex__item--4-2 .flex-article__multimedia+.flex-article__container,
.flex__item--4-3 .flex-article__multimedia+.flex-article__container,
.flex__item--4-4 .flex-article__multimedia+.flex-article__container {
  float: right;
  width: 448px;
}

.flex__item--4-2 .foto-cintillo,
.flex__item--4-3 .foto-cintillo,
.flex__item--4-4 .foto-cintillo {
  width: calc(100% - 468px);
  width: -webkit-calc(100% - 468px);
  overflow: hidden;
}

.flex__item--4-2 .flex-article__heading,
.flex__item--4-3 .flex-article__heading,
.flex__item--4-4 .flex-article__heading {
  font-size: 24px;
  line-height: 26px;
  min-height: 47px;
  letter-spacing: -0.48px;
}

.flex__item--4-2 .info-bar,
.flex__item--4-3 .info-bar,
.flex__item--4-4 .info-bar {
  width: 448px;
  bottom: 0;
}

.flex__item--4-2 img,
.flex__item--4-3 img,
.flex__item--4-4 img {
  max-height: 105px;
}

.flex__item--4-4 {
  border-bottom: inherit;
  padding-bottom: 0;
  height: 120px;
}

.flex--headlines-support-4 .flex__item--4-1 {
  padding: 15px 0;
}

.flex--headlines-support-4 .flex__item--4-1 .flex-article__multimedia {
  width: calc(100% - 428px);
  width: -webkit-calc(100% - 428px);
}

.flex--headlines-support-4 .flex__item--4-1 .flex-article__multimedia img {
  max-height: 125px;
}

.flex--headlines-support-4 .flex__item--4-1 .flex-article__multimedia+.flex-article__container {
  height: 131px;
  float: right;
  width: 408px;
}

.flex--headlines-support-4 .flex__item--4-1 .info-bar {
  width: 408px;
  bottom: 0;
}

.flex--headlines-support-4 .headlines-support {
  bottom: -16px;
}

.flex--headlines-support-4 .headlines-support__item {
  color: #000333;
  font-size: 22px;
  line-height: 25px;
}

.flex--headlines-support-4 .headlines-support__item--2 {
  color: #000333;
  font-size: 19px;
  line-height: 22px;
  top: 7px;
  position: relative;
}

.flex--headlines-support-4 .flex__item--4-2 img,
.flex--headlines-support-4 .flex__item--4-3 img,
.flex--headlines-support-4 .flex__item--4-4 img {
  max-height: 105px;
}

.flex-h .flex__item--4-1,
.flex-h .flex__item--4-2,
.flex-h .flex__item--4-3,
.flex-h .flex__item--4-4 {
  height: 300px;
  border: none;
  padding: 0;
}

.flex-h .flex__item--4-1.flex__item,
.flex-h .flex__item--4-2.flex__item,
.flex-h .flex__item--4-3.flex__item,
.flex-h .flex__item--4-4.flex__item {
  width: calc(((100% - 340px) / 2) - 20px);
  width: -webkit-calc(((100% - 340px) / 2) - 20px);
  clear: none;
  border: none;
}

.flex-h .flex__item--4-1 .flex-article__multimedia,
.flex-h .flex__item--4-2 .flex-article__multimedia,
.flex-h .flex__item--4-3 .flex-article__multimedia,
.flex-h .flex__item--4-4 .flex-article__multimedia {
  float: none;
  max-height: 174px;
  height: auto;
  width: 100%;
  min-width: 310px;
}

.flex-h .flex__item--4-1 .flex-article__multimedia+.flex-article__container,
.flex-h .flex__item--4-2 .flex-article__multimedia+.flex-article__container,
.flex-h .flex__item--4-3 .flex-article__multimedia+.flex-article__container,
.flex-h .flex__item--4-4 .flex-article__multimedia+.flex-article__container {
  position: initial;
  width: auto;
  height: auto;
  float: none;
  clear: both;
}

.flex-h .flex__item--4-1 .flex-article__multimedia+.flex-article__container footer,
.flex-h .flex__item--4-2 .flex-article__multimedia+.flex-article__container footer,
.flex-h .flex__item--4-3 .flex-article__multimedia+.flex-article__container footer,
.flex-h .flex__item--4-4 .flex-article__multimedia+.flex-article__container footer {
  width: 100%;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
}

.flex-h .flex__item--4-1 .flex-article__multimedia img,
.flex-h .flex__item--4-2 .flex-article__multimedia img,
.flex-h .flex__item--4-3 .flex-article__multimedia img,
.flex-h .flex__item--4-4 .flex-article__multimedia img {
  width: 100%;
  max-height: 174px;
}

.flex-h .flex__item--4-1 .flex-article__multimedia .contentscore img,
.flex-h .flex__item--4-2 .flex-article__multimedia .contentscore img,
.flex-h .flex__item--4-3 .flex-article__multimedia .contentscore img,
.flex-h .flex__item--4-4 .flex-article__multimedia .contentscore img {
  width: auto;
}

.flex-h .flex__item--4-1 .flex-article__headband,
.flex-h .flex__item--4-2 .flex-article__headband,
.flex-h .flex__item--4-3 .flex-article__headband,
.flex-h .flex__item--4-4 .flex-article__headband {
  color: #fff;
  display: inline-block;
  left: 0;
  top: 0;
  font-size: 15px;
  padding: 3px 6px;
  position: absolute;
  margin-bottom: 0px;
  z-index: 1;
}

.flex-h .flex__item--4-1 .flex-article__headband a,
.flex-h .flex__item--4-2 .flex-article__headband a,
.flex-h .flex__item--4-3 .flex-article__headband a,
.flex-h .flex__item--4-4 .flex-article__headband a {
  color: #fff;
}

.flex-h .flex__item--4-1 .flex-article__headband span:after,
.flex-h .flex__item--4-2 .flex-article__headband span:after,
.flex-h .flex__item--4-3 .flex-article__headband span:after,
.flex-h .flex__item--4-4 .flex-article__headband span:after {
  content: "";
  width: 100%;
  height: 22px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .8;
  z-index: -1;
  background-color: #2e6d9d;
}

.flex-h .flex__item--4-1 img,
.flex-h .flex__item--4-2 img,
.flex-h .flex__item--4-3 img,
.flex-h .flex__item--4-4 img {
  max-height: none;
}

.flex-h .flex__item--4-1 .flex-article__header,
.flex-h .flex__item--4-2 .flex-article__header,
.flex-h .flex__item--4-3 .flex-article__header,
.flex-h .flex__item--4-4 .flex-article__header {
  padding-top: 10px;
}

.flex-h .flex__item--4-1 .flex-article__header>p,
.flex-h .flex__item--4-2 .flex-article__header>p,
.flex-h .flex__item--4-3 .flex-article__header>p,
.flex-h .flex__item--4-4 .flex-article__header>p {
  font-size: 14px;
  margin-bottom: 10px;
  color: #000333;
}

.flex-h .flex__item--4-1 .flex-article__heading,
.flex-h .flex__item--4-2 .flex-article__heading,
.flex-h .flex__item--4-3 .flex-article__heading,
.flex-h .flex__item--4-4 .flex-article__heading {
  font-size: 26px;
  line-height: 28px;
}

.flex-h .flex__item--4-1 .headlines-support,
.flex-h .flex__item--4-2 .headlines-support,
.flex-h .flex__item--4-3 .headlines-support,
.flex-h .flex__item--4-4 .headlines-support {
  display: none;
}

.flex-h .flex__item--4-1.flex__item,
.flex-h .flex__item--4-3.flex__item {
  margin-right: 20px;
}

.flex-h .flex__item--4-2.flex__item,
.flex-h .flex__item--4-4.flex__item {
  margin-left: 10px;
  margin-right: 10px;
}

.flex-h .flex__item--4-3.flex__item {
  clear: both;
}

.flex-h .flex__item--4-3.flex__item,
.flex-h .flex__item--4-4.flex__item {
  margin-top: 20px;
}

.flex-h .mod-debate .flex-article__headband span:after {
  background-color: #c9a43d;
}

.flex-h .mod-default .flex-article__headband span:after {
  background-color: #2e6d9d;
}

.flex-h .opinion .flex-article__headband span:after {
  background-color: #c9a43d;
}

.flex-h .blogs .flex-article__headband span:after {
  background-color: #c9a43d;
}

.flex-h .yodona .flex-article__headband span:after {
  background-color: #b8007c;
}

.flex-h .loc .flex-article__headband span:after {
  background-color: #6d2d81;
}

.flex-h .sponsorship .flex-article__headband span:after {
  background-color: #a3a3a3;
}

.flex--5 .flex__item {
  padding: 14px 0;
}

.flex--5 .flex-article__multimedia {
  width: calc(100% - 485px);
  width: -webkit-calc(100% - 485px);
}

.flex--5 .flex-article__multimedia img {
  max-height: 94px;
}

.flex--5 .flex-article__multimedia+.flex-article__container {
  float: right;
  width: 465px;
}

.flex--5 .flex-article__multimedia+.flex-article__container .flex-article__heading {
  font-size: 24px;
  line-height: 28px;
}

.flex--5 .foto-cintillo {
  width: calc(100% - 485px);
  width: -webkit-calc(100% - 485px);
  overflow: hidden;
}

.flex--5 .flex-article__container {
  height: 94px;
}

.flex--5 .flex-article__headband {
  display: none;
}

.flex--5 .flex-article__header {
  min-height: 70px;
}

.flex--5 .flex-article__heading {
  font-size: 28px;
  line-height: 31px;
  letter-spacing: -0.48px;
}

.flex--5 .info-bar {
  width: 465px;
  bottom: 0;
}

.flex__item--5-1 {
  border-top: 1px solid #d7d7d7;
}

.flex__item--5-5 {
  border-bottom: inherit;
}

.flex--6 .flex__item {
  padding: 9px 0;
}

.flex--6 .flex-article__multimedia {
  width: calc(100% - 502px);
  width: -webkit-calc(100% - 502px);
}

.flex--6 .flex-article__multimedia img {
  max-height: 84px;
}

.flex--6 .flex-article__multimedia+.flex-article__container {
  float: right;
  width: 482px;
}

.flex--6 .flex-article__multimedia+.flex-article__container .flex-article__heading {
  font-size: 24px;
  line-height: 28px;
}

.flex--6 .foto-cintillo {
  width: calc(100% - 502px);
  width: -webkit-calc(100% - 502px);
  overflow: hidden;
}

.flex--6 .flex-article__container {
  height: 84px;
}

.flex--6 .flex-article__headband {
  display: none;
}

.flex--6 .flex-article__header {
  min-height: 62px;
}

.flex--6 .flex-article__heading {
  font-size: 28px;
  line-height: 31px;
  letter-spacing: -0.48px;
  margin-bottom: 8px;
}

.flex--6 .info-bar {
  width: 465px;
  bottom: 0;
}

.flex__item--6-1 {
  border-top: 1px solid #d7d7d7;
}

.flex__item--6-6 {
  border-bottom: inherit;
}

.headlines-support__item--2+.headlines-support__item--2 {
  padding-right: 0;
  padding-left: 30px;
  border-left: 1px solid #d7d7d7;
}

.flex-article__heading-link:hover,
.btn-nav-toggle:hover span i.flex-article__heading-link,
.search-btn:hover span i.flex-article__heading-link,
.mod-news .mod-comments:hover i.flex-article__heading-link,
.results-widget>li.upcoming-game article:hover i.flex-article__heading-link,
.results-widget>li.playing-game article:hover i.flex-article__heading-link,
.results-widget>li.finished-game article:hover i.flex-article__heading-link,
.results-widget .chronicle span a:hover i.flex-article__heading-link,
.results-widget .finished-game .result_cronica:hover i.flex-article__heading-link,
.results-more-data .results-football-pool a:hover i.flex-article__heading-link,
.site-header.main-section-header .menu .nav-toggle:hover span i.flex-article__heading-link,
.site-header.main-section-header .menu .nav-toggle .btn-nav-toggle span:first-of-type:hover i.flex-article__heading-link,
.site-header.main-section-header .menu .nav-toggle .btn-nav-toggle:hover span i.flex-article__heading-link,
.site-header.main-section-header.fixed-down .header-search.header-search-open .close-btn:hover i.flex-article__heading-link,
.site-header.main-section-header.fixed-up .header-search.header-search-open .close-btn:hover i.flex-article__heading-link,
.site-header.main-section-header.inside .header-search.header-search-open .close-btn:hover i.flex-article__heading-link,
.headlines-support__item-link:hover,
.btn-nav-toggle:hover span i.headlines-support__item-link,
.search-btn:hover span i.headlines-support__item-link,
.mod-news .mod-comments:hover i.headlines-support__item-link,
.results-widget>li.upcoming-game article:hover i.headlines-support__item-link,
.results-widget>li.playing-game article:hover i.headlines-support__item-link,
.results-widget>li.finished-game article:hover i.headlines-support__item-link,
.results-widget .chronicle span a:hover i.headlines-support__item-link,
.results-widget .finished-game .result_cronica:hover i.headlines-support__item-link,
.results-more-data .results-football-pool a:hover i.headlines-support__item-link,
.site-header.main-section-header .menu .nav-toggle:hover span i.headlines-support__item-link,
.site-header.main-section-header .menu .nav-toggle .btn-nav-toggle span:first-of-type:hover i.headlines-support__item-link,
.site-header.main-section-header .menu .nav-toggle .btn-nav-toggle:hover span i.headlines-support__item-link,
.site-header.main-section-header.fixed-down .header-search.header-search-open .close-btn:hover i.headlines-support__item-link,
.site-header.main-section-header.fixed-up .header-search.header-search-open .close-btn:hover i.headlines-support__item-link,
.site-header.main-section-header.inside .header-search.header-search-open .close-btn:hover i.headlines-support__item-link {
  color: #2e6d9d;
}

.icon-comentarios_16_b {
  width: 16px;
  height: 16px;
  position: relative;
  top: 1px;
  margin-right: 4px;
  display: inline-block;
  vertical-align: middle;
  float: left;
}

.icon-foto_16_g {
  width: 16px;
  height: 16px;
  position: relative;
  top: 0;
  margin-right: 4px;
  display: inline-block;
  vertical-align: middle;
  float: left;
}

.view-video {
  display: inline-block;
  text-rendering: auto;
  cursor: pointer;
  text-indent: -99999px;
  z-index: 2;
  left: 50%;
  margin: -30px 0 0 -30px;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  background: url('http://e00-elmundo.uecdn.es/assets/v5/img/play-video.png') no-repeat center center;
  background-size: 60px 60px;
  height: 60px;
  width: 60px;
}

.view-video:hover,
.btn-nav-toggle:hover span i.view-video,
.search-btn:hover span i.view-video,
.mod-news .mod-comments:hover i.view-video,
.results-widget>li.upcoming-game article:hover i.view-video,
.results-widget>li.playing-game article:hover i.view-video,
.results-widget>li.finished-game article:hover i.view-video,
.results-widget .chronicle span a:hover i.view-video,
.results-widget .finished-game .result_cronica:hover i.view-video,
.results-more-data .results-football-pool a:hover i.view-video,
.site-header.main-section-header .menu .nav-toggle:hover span i.view-video,
.site-header.main-section-header .menu .nav-toggle .btn-nav-toggle span:first-of-type:hover i.view-video,
.site-header.main-section-header .menu .nav-toggle .btn-nav-toggle:hover span i.view-video,
.site-header.main-section-header.fixed-down .header-search.header-search-open .close-btn:hover i.view-video,
.site-header.main-section-header.fixed-up .header-search.header-search-open .close-btn:hover i.view-video,
.site-header.main-section-header.inside .header-search.header-search-open .close-btn:hover i.view-video {
  background: url('http://e00-elmundo.uecdn.es/assets/v5/img/play-video-hover.png') no-repeat center center;
  background-size: 60px 60px;
}

.view-gallery {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  color: #fff;
  background-color: #2e6d9d;
  height: 40px;
  vertical-align: middle;
}

.view-gallery span {
  display: none;
  line-height: 40px;
}

.view-gallery:hover span,
.btn-nav-toggle:hover span i.view-gallery span,
.search-btn:hover span i.view-gallery span,
.mod-news .mod-comments:hover i.view-gallery span,
.results-widget>li.upcoming-game article:hover i.view-gallery span,
.results-widget>li.playing-game article:hover i.view-gallery span,
.results-widget>li.finished-game article:hover i.view-gallery span,
.results-widget .chronicle span a:hover i.view-gallery span,
.results-widget .finished-game .result_cronica:hover i.view-gallery span,
.results-more-data .results-football-pool a:hover i.view-gallery span,
.site-header.main-section-header .menu .nav-toggle:hover span i.view-gallery span,
.site-header.main-section-header .menu .nav-toggle .btn-nav-toggle span:first-of-type:hover i.view-gallery span,
.site-header.main-section-header .menu .nav-toggle .btn-nav-toggle:hover span i.view-gallery span,
.site-header.main-section-header.fixed-down .header-search.header-search-open .close-btn:hover i.view-gallery span,
.site-header.main-section-header.fixed-up .header-search.header-search-open .close-btn:hover i.view-gallery span,
.site-header.main-section-header.inside .header-search.header-search-open .close-btn:hover i.view-gallery span {
  display: inline-block;
  padding: 0 5px 0 10px;
}

.icon-galeria_32_d {
  display: inline-block;
  width: 32px;
  height: 32px;
  float: right;
  margin: 4px;
}

.view-chart {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  color: #fff;
  background-color: #2e6d9d;
  height: 40px;
  vertical-align: middle;
}

.view-chart span {
  display: none;
  line-height: 40px;
}

.view-chart:hover span,
.btn-nav-toggle:hover span i.view-chart span,
.search-btn:hover span i.view-chart span,
.mod-news .mod-comments:hover i.view-chart span,
.results-widget>li.upcoming-game article:hover i.view-chart span,
.results-widget>li.playing-game article:hover i.view-chart span,
.results-widget>li.finished-game article:hover i.view-chart span,
.results-widget .chronicle span a:hover i.view-chart span,
.results-widget .finished-game .result_cronica:hover i.view-chart span,
.results-more-data .results-football-pool a:hover i.view-chart span,
.site-header.main-section-header .menu .nav-toggle:hover span i.view-chart span,
.site-header.main-section-header .menu .nav-toggle .btn-nav-toggle span:first-of-type:hover i.view-chart span,
.site-header.main-section-header .menu .nav-toggle .btn-nav-toggle:hover span i.view-chart span,
.site-header.main-section-header.fixed-down .header-search.header-search-open .close-btn:hover i.view-chart span,
.site-header.main-section-header.fixed-up .header-search.header-search-open .close-btn:hover i.view-chart span,
.site-header.main-section-header.inside .header-search.header-search-open .close-btn:hover i.view-chart span {
  display: inline-block;
  padding: 0 5px 0 10px;
}

.icon-grafico_32_d {
  display: inline-block;
  width: 32px;
  height: 32px;
  float: right;
  margin: 4px;
}

.flex-article footer {
  position: relative;
  margin-bottom: 20px;
}

.flex-article .mod-author {
  margin-bottom: 10px;
  overflow: hidden;
  list-style-type: none;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.flex-article .mod-author li {
  font-size: 12px;
  color: #4a4a4a;
  float: left;
  display: inline;
  margin-right: 10px;
  line-height: 17px;
}

.flex-article .mod-author li:last-child {
  margin-right: 0;
}

.flex-article .mod-comments {
  margin-bottom: 10px;
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.flex-article .mod-comments li {
  font-size: 13px;
  color: #2e6d9d;
  top: 0;
  position: absolute;
  right: 0;
  float: right;
  font-family: "Clear Sans Bold",Arial,sans-serif,helvetica;
}

.flex-article .mod-comments .icon-comments {
  border-radius: 50%;
  background-color: #fff;
  font-weight: normal;
  text-decoration: none;
  color: #2e6d9d;
  font-size: 13px;
  font-family: "Clear Sans Bold",Arial,sans-serif,helvetica;
}

.flex-article .icon-apoyo_32_b {
  display: inline-block;
  float: left;
  width: auto !important;
  margin-right: 5px;
  height: 36px !important;
  position: relative;
  top: 2px;
  left: 0;
  background: none !important;
}

.flex-article .icon-apoyo_32_b:before {
  display: inline-block;
  content: "\2022";
  padding-top: 6px;
  color: #000333;
  font-size: 10px;
  line-height: 100%;
  float: left;
}

.flex-article .foto-cintillo {
  position: absolute;
  left: 0;
}